doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="icon shortcut" href="/images/favicon.ico?v=1")
    link(rel="stylesheet" type="text/css" href="/css/normalize.css")
  body
    .app!= pageHtml
